.emptycartborder {
    display: flex;
    flex-direction: column;
}

.checkOut {
    margin: 0px 0.5em 0px 1em;
    width: auto;
    border: 1px solid var(--gray);
    border-radius: 0.4em;
    background-color: transparent;
    color: var(--gray);
    font-family: "Brush Script MT";
    font-size: x-large;
    align-items: center;
}

.checkOut:hover {
    color: var(--white);
    background-color: var(--SecondaryColor);
    border: 1px solid var(--SecondaryColor);
}

.incon {
    width: 1.5em;
    height: 1.5em;
    color: var(--grey);
}

.incon:hover {
    color: var(--white);
}

#removeCartButton:hover {
    color: #ff6347;
    border-color: #ff6347;
    background: #ffffff;
}

#checkOut:hover {
    color: #ff6347;
    display: block;
}

#backarrow {
    rotate: 180deg;
}

#ant-btn-default:hover {
    color: var(--green) !important;
    border-color: var(--green) !important;
}