.emptycartborder {
    display: flex;
    flex-direction: column;
}

.checkOut {
    margin: 0px 0.5em 0px 1em;
    width: auto;
    border: 1px solid var(--gray);
    border-radius: 0.4em;
    background-color: transparent;
    color: var(--gray);
    font-family: var(--fontTwo);
    font-size: medium;
    align-items: center;
}

.checkOut:hover {
    color: var(--green);
    background-color: var(--white);
    border: 1px solid var(--green);
}

.incon {
    width: 1.5em;
    height: 1.5em;
    color: var(--grey);
}

.incon:hover {
    color: var(--white);
}

#removeCartButton:hover {
    color: #ff6347;
    border-color: #ff6347;
    background: #ffffff;
}

.back-btn {
    border: 1px solid var(--gray);
    border-radius: 0.4em;
    color: var(--gray);
}

.back-btn:hover {
    color: #ff6347;
    border-color: #ff6347;
    background-color: var(--white);
    display: block;
    border-radius: 0.4em;
}

#backarrow {
    rotate: 180deg;
}

#ant-btn-default:hover {
    color: var(--green) !important;
    border-color: var(--green) !important;
}