.bgcontainer {
  background-image: url("../../assest/homebackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  overflow: hidden;
}
.bgcontainer h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 180px;
  color: var(--SecondaryColor);
  font-family: var(--fontOne);
  font-size: 90px;
  text-align: center;
}
.bgcontainer p {
  font-family: var(--fontTwo);
  text-align: center;
  color: var(--TextlighColor);
  font-weight: bolder;
  color: var(--PrimaryColor);
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .bgcontainer {
    height: 300px;
  }
  .bgcontainer h1 {
    font-size: 40px;
    padding-top: 100px;
  }
  .bgcontainer p {
    font-size: 1rem;
    padding: 0 10px;
  }
}
